@model RightRecruit.Web.Models.AgencyDto
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_SignupLayout.cshtml";
    ViewContext.FormContext = new System.Web.Mvc.FormContext();
    Cassette.Views.Bundles.Reference("Scripts/Signup/signup.js");
}
<div class="outerCover">
        <div class="headerLabel">Create your RightRecruit Account</div>
            
        @using (Html.BeginForm("Signup", "Signup", FormMethod.Post))
        {
                <div class="fieldLabel">@Html.LabelFor(p => p.CompanyName, "COMPANY NAME:")<em>*</em></div>
                <div class="fieldInput">@Html.TextBoxFor(p => p.CompanyName, new { @id = "company" })</div>
                <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.CompanyName)</div>
            
                <div class="fieldLabel">@Html.LabelFor(p => p.AdminId, "ADMIN ID:")<em>*</em></div>
                <div class="fieldInput">@Html.TextBoxFor(p => p.AdminId, new { @id = "adminId" })</div>
                <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.AdminId)</div>
                
                <div class="fieldLabel">@Html.LabelFor(p => p.Website, "WEBSITE:")<em>*</em></div>
                <div class="fieldInput">@Html.TextBoxFor(p => p.Website, new { @id = "website" })</div>
                <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.Website, "Please provide a website")</div>
            
                <div class="fieldLabel">@Html.LabelFor(p => p.Email, "EMAIL:")<em>*</em></div>
                <div class="fieldInput">@Html.TextBoxFor(p => p.Email, new { @id = "email" })</div>
                <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.Email, "Please provide a email")</div>
            
                <div class="fieldLabel">@Html.LabelFor(p => p.Phone, "PHONE:")<em>*</em></div>
                <div class="fieldInput">@Html.TextBoxFor(p => p.Phone, new { @id = "phone" })</div>
                <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.Phone, "Please provide a phone number")</div>
            
                <div class="fieldLabel regular"><button id="next" runat="server">Create Account</button></div>
        }
    </div>
