@model RightRecruit.Web.Models.LoginDto
@{
    Cassette.Views.Bundles.Reference("Scripts/login");
}
<div class="outerBorder">
    <div class="loginTitle">
        Login</div>
    @using (Html.BeginForm("Signup", "Signup", FormMethod.Post))
    {
        <div class="fieldInput">@Html.TextBoxFor(p => p.Login, new { @id = "login" })</div>
        <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.Login)</div>
        
        <div class="fieldInput">@Html.TextBoxFor(p => p.Password, new { @id = "password" })</div>
        <div class="fieldLabelError">@Html.ValidationMessageFor(p => p.Password)</div>
        
        <div class="fieldLabel">@Html.CheckBoxFor(p => p.RememberMe, new { @id = "remember"})Remember me
            <span style="float:right;margin-right:6px;"><button id="loginButton" runat="server">Login</button></span>
        </div>
        <div class="fieldInput"><a class="forgotPassword" href="#">Forgot password</a></div>
        
        <div class="divider"></div>
        <div class="newUser">Hello! New here?</div>
        <div class="learnMorenSignup"><a href="#" class="learn">Learn</a> more,<a href="#" class="learn"> sign up</a> for a trial account.</div>
    }
</div>
